@import url(font-awesome.min.css);

/*
	Prism by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/
/*Main */
:root {
  --greencolor: #5fcec0;
  --btncolor: #00bc8a;
  --hoverbtn: #00d69d;
  --border: 0.5px solid rgba(144, 144, 144, 0.25);
}
/* Reset */
body,html {
	padding: 0;
  overflow-x: hidden;
  height: 5000px;
}
/*Main Button*/
body .btn {
  background-color: var(--btncolor);
  height: 3em;
}
body .btn:hover {
  background-color: var(--hoverbtn);
}
.header {
  background-color: rgb(138, 64, 187);
}
.header .welcome {
  color: white;
  border-right: var(--border);
}
.header .welcome span a {
  color: white;
  text-decoration-line: none;
}
.header .welcome span a:hover {
  color: var(--btncolor);
}
.header .getStarted {
  border-left: var(--border);
  padding-right: 0;
}
.graduate {
  border-bottom: var(--border);
}
.graduate .skills {
  border-left: var(--border);
}
.graduate .learn {
  border-right: var(--border);
}

.graduate .skills svg {
  width: 1rem;
  fill: var(--btncolor);
}
.spotlit {
  background-color: #fafafa;
  border-top: 4rem solid #fafafa;
}
.spotlit .btn,.signup .btn {
	width: 10rem;
}
.spotlit .row {
  background-color: white;
}

.spotlit .details,.image {
	border-bottom: 4rem solid #fafafa;
	
}
.signup{
		background-color: #fafafa;

}

input , textarea {
	border: 2px solid #ccc; 
	outline: none; 
	transition: border-color 0.3s ease; 
  }
  

    textarea:focus {
	border-color:var(--btncolor); 
  }
    .contact input:focus {
	border-color:var(--btncolor); 
  }
  
textarea{
	width: 90%;
}
.contact .links {
	border-left: var(--border);
}
.contact .person {
	border-right: var(--border);
}
.contact .link svg {
	fill: var(--btncolor);
}
.contact .link a {
	text-decoration-line: none;
}
.contact .link a:hover{
	color: var(--hoverbtn) !important;
}
.footer {
	background-color: #fafafa;
	border-top: var(--border);
}
.footer p {
	color:#bbb
}
.footer a {
	text-decoration-line: none;
	color: black;
	font-weight: bold;
}
.footer a:hover {
	color: var(--btncolor) !important;
}